{%  extends 'base.html.twig' %}

{% block main %}
    <h1>{{ wish.title }}</h1>
    <i>{{ wish.category.name }}</i>
    {% if wish.description %}
        <p>{{ wish.description }}</p>
    {% endif %}
    <p>Wish created by {{ wish.author }} at {{ wish.dateCreated | date('m/d/Y') }}</p>
{% endblock %}

{% block title %}Wish #{{ wish.id }} details | {{ parent() }}{% endblock %}