<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bucket List!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('style/bucket.css') }}">
        {% endblock %}
        <link href="{{ asset('media/favicon.ico') }}" rel="shortcut icon">
    </head>
    <body>
        <header>
            <img src="{{ asset('media/logo.svg') }}" alt="">
            <h1>Bucket-List</h1>
        </header>
        <nav>
            <ul>
                <li><a href="{{ path('app_main_index') }}">Home</a></li>
                <li><a href="{{ path('app_main_aboutus') }}">About us...</a></li>
                <li><a href="{{ path('app_wish_list') }}">Wishes list</a></li>
            </ul>
        </nav>
        <main>{% block main %}{% endblock %}</main>
        {% block javascripts %}{% endblock %}
        <footer>
            &copy;Bucket-List {{ date() | date('Y') }}
        </footer>
    </body>
</html>
